/* Animation classes */
@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logo-scroll 30s linear infinite;
}
