/* Grid and flex utilities */

.reversed {
  @apply flex-row-reverse;
}

.main_product-container {
  @apply gap-large flex flex-wrap md:flex-nowrap;

  & > div {
    @apply w-full;
  }
}

.product_benefits-grid {
  @apply flex gap-6;

  & > div {
    @apply w-full text-center;
  }
}

.product_text-image {
  @apply gap-large flex items-center justify-center;

  & > div {
    @apply w-full;
  }
}



.product_stats-outer {
  @apply flex items-center;

  & > div:nth-child(1) {
    @apply w-full;
  }

  & > div:nth-child(2) {
    @apply w-[70%];
  }
}

.product_expert-outer {
  @apply bg-secondary-4th flex overflow-hidden rounded-2xl;

  & > div {
    @apply w-full;
  }
}
