


.outer_how-nothing {
  @apply text-dark bg-background-2nd mb-[35px] py-[70px] text-lg font-bold;
}

.product_judge-outer.outer_how-nothing {
  @apply pt-0;
}

.outer_why-bloating {
  @apply pb-0;
}


.benefits {
  @apply bg-background-2nd;
}

#ugc .product_judge-outer {
  @apply bg-background-2nd;
}

#footer .product_judge-outer {
  @apply bg-background-2nd;
}
