/* Common page styles */
.product_textimage-content {
  .product_text-image-reviews {
    @apply max-w-[350px];
  }
  .btn_container {
    @apply mt-4 max-w-[495px];
  }
}

.Desktop_only {
  @apply block;
}

.Modile_only {
  @apply hidden;
}
