/* Product page specific styles */
.main_section {
  img {
    @apply w-full;
  }
}

/* Why bloating section */
.product_why-bloating-grid {
  @apply mt-10 flex gap-4;
  .product_why-bloating-cell {
    @apply w-full;
  }
  img {
    @apply min-h-[150px];
  }
  .product_why-nothing-cell-inn {
    @apply bg-secondary-4th min-h-[150px] p-4 text-center;

    h4 {
      @apply font-trirong m-0 text-xl leading-[1.3em] font-normal;
    }

    .product_why-nothing-pink {
      @apply bg-accent-2nd mt-6 min-h-[180px] overflow-hidden rounded-md px-4 py-2;

      .product_why-nothing-subtitle {
        @apply m-0 flex items-center justify-center text-base leading-[1.3em] font-semibold;

        img {
          @apply min-h-auto max-w-[24px];
        }
      }

      .product_why-nothing-text {
        @apply mt-3 text-base leading-[1.3em];
      }
    }
  }
}

.product_why-note-img {
  @apply mx-auto w-full max-w-[920px];
}

/* ---------- Why bloating grid ---------- */
.product_why-bloating-grid {
  @apply mt-10 flex sm:flex-row flex-col gap-4 sm:mb-0 mb-6;
 
  .product_why-bloating-cell  {
    @apply w-full overflow-hidden rounded-md sm:gap-2 gap-0 flex sm:flex-col flex-row;
&>div {
    @apply w-full flex items-center sm:items-start;
  }
    img {
      @apply min-h-[150px];
    }

    .product_why-bloat-cell-inn {
      @apply bg-secondary-4th min-h-[150px] p-4 text-center;

      p {
        @apply m-0 text-base leading-[1.3];
      }
    }
  }
}

/* Benefits grid */
.product_benefits-grid {
  @apply flex gap-6;

  & > div {
    @apply w-full text-center;
  }

  img {
    @apply mx-auto mb-4 block h-[40px] max-w-10 max-w-[40px];
  }

  p {
    @apply leading-snug;

    &.h4title {
      @apply my-2 font-semibold;
    }
  }
}
