/* Benefits grid */
.product_benefits-grid {
  @apply flex gap-6;

  & > div {
    @apply w-full text-center;
  }

  img {
    @apply mx-auto mb-4 block h-[40px] max-w-10 max-w-[40px];
  }

  p {
    @apply leading-snug;

    &.h4title {
      @apply my-2 font-semibold;
    }
  }
}
