.product_primary-btn {
  @apply font-nunito p-button inline-block cursor-pointer rounded bg-black text-center text-lg leading-snug font-normal text-white no-underline transition-all duration-200;
}

.product-selector_atc {
  @apply mt-3 cursor-pointer rounded-lg bg-black p-3 text-center text-lg text-white transition-all duration-200;
}

.product_primary-btn-footer {
  @apply mt-4 flex items-center justify-center gap-4 text-base leading-[1.3];

  img {
    @apply w-[24px];
  }
}
