.shopify-section {
  p {
    @apply font-nunito font-normal;
  }
}

/* Container classes */
.page-width {
  @apply mx-auto block max-w-[var(--max-w-page)] px-[1.5rem] sm:px-[5rem];
}

/* Common page styles */
.product_textimage-content {
  .product_text-image-reviews {
    @apply max-w-[350px];
  }
  .btn_container {
    @apply mt-4 max-w-[495px];
  }
}

.Desktop_only {
  @apply hidden md:block;
}

.Mobile_only {
  @apply block md:hidden;
}
