/* Ingredients table */
.product_lymph-ingr-table {
  @apply mt-10 grid grid-cols-4 overflow-hidden rounded-xl border border-black bg-white;

  .product-lymph-ingredient-box {
    @apply cursor-pointer border border-black p-6;
 
    .product_lymph-ingr-subtitle {
      @apply text-primary m-0 flex items-center justify-center gap-2 text-base;

      img {
        @apply block max-w-[16px];
      }
    }

    .product_lymph-main-img {
      @apply mx-auto my-3 block max-h-[80px] w-auto max-w-[120px];
    }

    .product_lymph-ingr-thumb {
      @apply flex items-center justify-between gap-2;
    
      h5 {
        @apply m-0 text-base leading-[1.3] font-semibold;
      }

      img {
        @apply ml-auto block w-[24px];
      }
    }

    .product_lymph-ingr-content {
      @apply max-h-0 overflow-hidden opacity-0 transition-all duration-300;

      p {
        @apply m-0 text-sm leading-[1.3em];
      }
    }
  }
}

.product_lymph-ingr-table-small {
  @apply mx-auto mt-10 max-w-[580px];
}
