/* Press logos section */
.section_press_logos_outer {
  @apply relative mx-auto;

  .section_holder {
    @apply bg-background-2nd relative mx-auto max-w-[100vw] leading-1;
  }

  .press_logos_wrapper {
    @apply grid grid-cols-1 content-center justify-items-center gap-x-[70px] gap-y-[20px] p-0 pt-5 pb-5 text-center;

    .title_wrap {
      @apply font-trirong m-0 lg:text-2xl text-lg tracking-normal text-black;
    }

    .auto_scrolling_logos {
      @apply w-full min-w-[1px] overflow-hidden;

      .logos_wrap {
        @apply animate-logo-scroll flex w-fit items-center;

        img {
          @apply sm:mx-[50px] mx-[25px] block sm:h-[30px] h-[20px]  w-auto;
        }
      }
    }
  }
}
