

.pli_flex {
    @apply sm:gap-big-large gap-4 flex sm:flex-row flex-col-reverse items-center;

    &>div {
        @apply w-full ;
    }
}

.pli_top-text {
    &>* {
        @apply my-2 px-0 sm:text-lg text-base leading-[1.3em];
    }

    ul {
        @apply ml-0 pl-0;

        li {
            @apply text-primary font-nunito list-none pl-8 font-semibold;
            background-image: url('https://trysculptique.com/cdn/shop/files/check-mark_17013456_2_1.png?v=1760702838');
            background-size: 20px;
            background-repeat: no-repeat;
        }
    }
}

.pli_bottom-text {
    &>* {
        @apply my-2 px-0 sm:text-lg text-base leading-[1.3em];
    }

    ul {
        @apply ml-0 pl-0;

        li {
            @apply text-accent font-nunito list-none pl-8 font-semibold;
            background-image: url('https://trysculptique.com/cdn/shop/files/Vector_7.png?v=1760702839');
            background-size: 20px;
            background-repeat: no-repeat;
        }
    }
}

.pli_pink-text {
    &>* {
        @apply my-2 px-0 sm:text-lg text-base leading-[1.3em];
    }

    @apply bg-accent-2nd my-6 rounded-lg px-4 py-2;

    ul {
        @apply ml-0 pl-0;

        li {
            @apply text-accent font-nunito list-none pl-8 font-semibold;
            background-image: url('https://trysculptique.com/cdn/shop/files/Vector_7.png?v=1760702839');
            background-size: 20px;
            background-repeat: no-repeat;
        }
    }
}