/* ================= UGC CAROUSEL ================= */

.product-ugc {
  @apply relative;
}

.product-ugc__container.slick-dotted.slick-slider {
  @apply mb-[40px];
}

/* Navigation */
.product-ugc__carousel-nav {
  @apply mt-[-50px] flex justify-end gap-6;
}

.product-ugc__carousel-nav img {
  @apply max-w-[32px] cursor-pointer transition-transform transition-opacity duration-200;
}

.product-ugc__carousel-nav img:hover {
  @apply scale-[1.15];
}

/* Slides */
.product-ugc__container .slick-slide {
  @apply flex p-2;
}

/* Dots */
.product-ugc__container .slick-dots {
  @apply !flex !max-w-[calc(100%-200px)] !text-left gap-0;
}

.product-ugc__container .slick-dots li {
  @apply m-0 !mx-0 w-full;
}

.product-ugc__container .slick-dots li button {
  @apply !h-1 !w-full !p-0 !bg-secondary-2nd;
}

.product-ugc__container .slick-dots li.slick-active button {
  @apply !bg-primary;
}

/* Badge */
.product-ugc__badge {
  @apply !bg-primary;
}

/* ================= UGC VIDEO ================= */
.product-ugc__video-inner{
  @apply inline-block w-full mb-[20px];
}
.product-ugc__video {
  @apply relative flex aspect-[9/16] h-full w-full overflow-hidden rounded;
}

.product-ugc__video video {
  @apply block h-full w-full object-cover;
}

.product-ugc__play {
  @apply absolute inset-0 z-[2] m-auto h-12 w-12 cursor-pointer;
}