/* Product selector/variant selector */
.product_selector-content {
  @apply bg-background-2nd mt-6 mb-4 rounded-lg p-3;
}

.product-selector_outer {
  @apply mt-0;

  .product-selector_block {
    @apply border-primary relative mb-3 cursor-pointer rounded-xl border;

    .product-selector_head {
      @apply flex items-center gap-3 rounded-xl bg-white p-4;

      & > div:nth-child(1) {
        @apply w-[32px];
      }

      & > div:nth-child(2) {
        @apply w-full;
      }

      & > div:nth-child(3) {
        @apply w-1/2 text-right;
      }

      .product-selector_title,
      .product-selector_price {
        @apply text-base leading-snug font-semibold;
      }

      .product-selector_info {
        @apply text-xs leading-snug;
      }

      .product-selector_bubble {
        @apply border-primary flex h-[26px] w-[26px] items-center justify-center rounded-full border-2;
      }

      .product-selector_compare {
        @apply block text-sm leading-snug font-semibold;
      }
    }

    .product-selector_perks {
      @apply overflow-hidden rounded-b-[10px];

      .product-selector_perk_line {
        @apply bg-primary flex items-center gap-2 border-b border-white px-2 py-1 opacity-60;

        &:last-child {
          @apply border-b-0;
        }

        & > div:nth-child(1) {
          @apply w-[34px];
        }

        & > div:nth-child(2) {
          @apply w-full;
        }

        p {
          @apply text-xs leading-[1em] font-bold text-white;
        }
      }
    }
  }

  .product-selector_badge {
    @apply absolute -top-[20px] -right-[5px];
  }

  .active {
    .product-selector_perks {
      .product-selector_perk_line {
        @apply opacity-100;
      }
    }
  }
}

.active .product-selector_bubble_inn {
  @apply bg-primary block h-[16px] w-[16px] rounded-full;
}
