/* Review components */
.main_product-review {
  @apply bg-background-2nd mt-6 rounded-xl p-3;

  .main_product-review-meta {
    @apply mb-2 flex items-center gap-4;

    p {
      @apply m-0 flex items-center gap-2 text-base leading-[1.3];

      img {
        @apply max-w-[120px];
      }
    }

    span {
      @apply flex items-center;
    }

    & > div:nth-child(1) {
      @apply w-[15%];
    }

    & > div:nth-child(2) {
      @apply w-full;
    }

    .main_product-review-stars {
      @apply mt-1.5 block max-w-[100px];
    }
  }

  .main_product-review-content {
    p {
      @apply mt-0 mb-2 text-base leading-[1.3] tracking-normal;
    }

    strong {
      @apply font-semibold;
    }
  }
}

.product-reviews_trust {
  @apply mx-auto block max-w-[200px];
}

.Product-ugc-stars {
  @apply mx-auto mb-4 block max-w-[300px];
}
