/* Tab components */
.product_tab-block_out {
  @apply mt-4;
}

.product_tab-block {
  @apply border-border-2nd mb-4 cursor-pointer rounded-[32px] border p-4;

  .product_tab-thumb {
    @apply flex items-center justify-between gap-3;

    p {
      @apply m-0 text-base leading-[1.3];
    }

    span {
      @apply flex items-center;
    }

    img {
      @apply w-[24px];
    }
  }

  &.active {
    @apply border-primary border;
  }

  .product_tab-content {
    p {
      @apply mt-0 mb-3 leading-[1.3] tracking-normal;
    }
  }
}
