@layer components {
  .benefits {
    @apply bg-background-2nd;
    .product_benefits-grid {
      @apply flex gap-6;
      & > div {
        @apply w-full text-center;
      }
      img {
        @apply mx-auto mb-4 block h-10 max-w-10;
      }
    }
  }
}
