@layer components {
  .outer_why-bloating {
    @apply pb-0;

    /* ---------- Why bloating grid ---------- */
    .product_why-bloating-grid {
      @apply mt-10 flex gap-4;

      > div {
        @apply w-full overflow-hidden rounded-md;

        img {
          @apply min-h-[150px];
        }

        .product_why-bloat-cell-inn {
          @apply bg-card min-h-[150px] p-4 text-center;

          p {
            @apply m-0 text-base leading-[1.3];
          }
        }
      }
    }

    /* ---------- Assets ---------- */
    .product_why-note-img {
      @apply mx-auto w-full max-w-[920px];
    }
  }
}
