@layer components {
  .shopify-section {
    @apply z-50 bg-white;
  }

  .page-width {
    @apply mx-auto max-w-[1340px] px-4;
  }

  .hided {
    @apply hidden;
  }

  .product_judge-outer {
    @apply px-0 py-[56px];
  }
  .product_judge-container {
    @apply mx-auto mb-10 max-w-[800px];

    .product-section_title {
      @apply font-lora my-4 text-center text-4xl leading-[1.3] font-normal;

      span {
        @apply text-primary;
      }
    }

    .product-section_text {
      @apply my-4 text-center text-lg leading-[1.3];
    }
  }

  .product_primary-btn-footer {
    @apply mt-4 flex items-center justify-center gap-4 text-base leading-[1.3];

    img {
      @apply w-[24px];
    }
  }

  .product_primary-btn {
    @apply font-nunito inline-block cursor-pointer rounded bg-black px-20 py-4 text-center text-lg leading-snug text-white no-underline transition-all duration-200;
  }
  .product_arrow-img {
    @apply mx-auto my-6 block w-full max-w-[48px];
  }
}
