@layer components{
    #footer {
        .product_judge-outer{
            @apply bg-background-2nd;
        }
    }
    .product_text-image{
        @apply flex items-center justify-center gap-[64px];
        &>div{
            @apply w-full;
        }
    }
.product_textimage-content{

    .product_text-image-reviews{
        @apply max-w-[350px];
    }
        .btn_container{
            @apply max-w-[495px];
        }
}
}