@layer components {
  /* secret header */
  .secret_header-whole {
    @apply flex items-center justify-center py-3;

    img {
      @apply mx-auto block max-w-[160px];
    }
  }

  /* end secret header */
}
