@layer components {
  .outer_how-nothing {
    @apply text-dark bg-background-2nd mb-[35px] py-[70px] text-lg font-bold;
  }
  .product_judge-outer.outer_how-nothing {
    @apply pt-0;
  }
  .product_why-bloating-grid {
    @apply mt-10 flex gap-6;
    & > div {
      @apply w-full;
    }
    .product_why-nothing-cell-inn {
      @apply bg-card p-6 text-center;
      h4 {
        @apply font-trirong m-0 text-xl leading-[1.3em] font-normal;
      }
      .product_why-nothing-pink {
        @apply bg-accent-2nd mt-6 min-h-[180px] overflow-hidden rounded-md px-4 py-2;
        .product_why-nothing-subtitle {
          @apply m-0 flex items-center justify-center text-base leading-[1.3em] font-semibold;
          img {
            @apply max-w-[24px];
          }
        }
        .product_why-nothing-text {
          @apply mt-3 text-base leading-[1.3em];
        }
      }
    }
  }

  .product_why-note-img {
    @apply mx-auto w-full max-w-[920px];
  }

  .btn_container {
    @apply mt-6 text-center;
  }
}
