@layer components {
  .product_judge-outer.pli_outer {
    @apply px-0 py-[56px];
  }
  #info {
    .product_judge-outer.pli_outer {
      @apply -mt-4 py-0;
    }
  }

  .pli_flex {
    @apply flex items-center gap-[100px];
    & > div {
      @apply w-full;
    }
    .pli_top-text {
      & > * {
        @apply my-2 px-0 text-lg leading-[1.3em];
      }
      ul {
        @apply ml-0 pl-0;
        li {
          @apply text-primary font-nunito list-none pl-8 font-semibold;
          background-image: url('https://trysculptique.com/cdn/shop/files/check-mark_17013456_2_1.png?v=1760702838');
          background-size: 20px;
          background-repeat: no-repeat;
        }
      }
    }

    .pli_bottom-text {
      & > * {
        @apply my-2 px-0 text-lg leading-[1.3em];
      }
      ul {
        @apply ml-0 pl-0;

        li {
          @apply text-accent font-nunito list-none pl-8 font-semibold;
          background-image: url('https://trysculptique.com/cdn/shop/files/Vector_7.png?v=1760702839');
          background-size: 20px;
          background-repeat: no-repeat;
        }
      }
    }
    .pli_pink-text {
      & > * {
        @apply my-2 px-0 text-lg leading-[1.3em];
      }
      @apply bg-accent-2nd my-6 rounded-lg px-4 py-2;
      ul {
        @apply ml-0 pl-0;

        li {
          @apply text-accent font-nunito list-none pl-8 font-semibold;
          background-image: url('https://trysculptique.com/cdn/shop/files/Vector_7.png?v=1760702839');
          background-size: 20px;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .top_padding {
    @apply mt-10;
  }
}
