/* components.css */
@layer components {
  /* product introduce */
  .main_section {
    img {
      @apply w-full;
    }
  }

  .main_product-outer {
    @apply py-[32px];
  }

  .active {
    .product-selector_bubble_inn {
      @apply bg-primary block h-[16px] w-[16px] rounded-full;
    }
  }

  .main_product-container {
    @apply flex gap-[64px];

    .main_product-container > div {
      @apply w-full;
    }

    .main_product-images {
      img {
        @apply overflow-hidden rounded-[4px] object-cover;
      }

      .main_product-image {
        @apply relative flex justify-center;

        img {
          @apply aspect-square overflow-hidden rounded-[4px] object-cover;
        }

        .main_product-nutrition-info {
          @apply absolute bottom-8 z-2 flex max-w-[290px] cursor-pointer justify-center gap-2 rounded-[24px] border border-black bg-white/85 px-2 py-2 text-sm leading-[1.2em];

          span {
            @apply flex items-center;
          }

          img {
            @apply w-[20px];
          }
        }

        .main-product_badge {
          @apply absolute top-4 right-4 block w-full max-w-[120px];
        }
      }

      .main_product-2nd {
        @apply my-4 grid grid-cols-2 gap-4;
      }

      .main_product-3rd {
        @apply my-4 grid grid-cols-3 gap-4;
      }
    }
  }

  .main_product-reviews {
    @apply mt-4 flex items-center gap-4;

    img {
      @apply block w-[100px];
    }

    p {
      @apply my-4 text-sm;
    }
  }

  .main_product-title {
    @apply font-lora my-4 text-3xl leading-[1.4em];
  }

  .main_product-features {
    .main_product-feature-line {
      @apply my-4 flex items-center gap-3;

      & > div:nth-child(1) {
        @apply flex w-[10%] items-center;
      }

      & > div:nth-child(2) {
        @apply w-full;
      }
    }
  }

  .product_selector-content {
    @apply bg-background-2nd mt-6 mb-4 rounded-lg p-3;

    .product-selector_outer {
      @apply mt-0;

      .product-selector_block {
        @apply border-primary relative mb-3 cursor-pointer rounded-xl border;
        .product-selector_head {
          @apply flex items-center gap-3 rounded-xl bg-white p-4;

          & > div:nth-child(1) {
            @apply w-[32px];
          }

          & > div:nth-child(2) {
            @apply w-full;
          }

          & > div:nth-child(3) {
            @apply w-1/2 text-right;
          }

          .product-selector_bubble {
            @apply border-primary flex h-[26px] w-[26px] items-center justify-center rounded-full border-2;
          }
        }

        .product-selector_perks {
          @apply overflow-hidden rounded-b-[10px];

          .product-selector_perk_line {
            @apply bg-primary flex items-center gap-2 border-b border-white px-2 py-1 opacity-60;

            &:last-child {
              @apply border-b-0;
            }

            & > div:nth-child(1) {
              @apply w-[34px];
            }

            & > div:nth-child(2) {
              @apply w-full;
            }

            p {
              @apply text-sm leading-[1em] font-bold text-white;
            }
          }
        }
      }

      .product-selector_badge {
        @apply absolute -top-[20px] -right-[5px];
      }

      .active {
        .product-selector_perk_line {
          @apply opacity-100;
        }
      }
    }
  }

  .col_pp_atc_usp_line {
    @apply mt-4 flex items-center gap-2;
    p {
      @apply m-0 text-base leading-[1.3];
    }
    span.col_pp_delivery__Date {
      @apply bg-primary font-nunito rounded px-2 py-1 text-white;
    }
    & > div:nth-child(1) {
      @apply flex w-[5%] items-center;
    }
    & > div:nth-child(2) {
      @apply w-full;
    }
  }
  /*end product introduce */
  .product-selector_atc,
  .product-selector_atc_champs {
    @apply mt-3 w-full cursor-pointer rounded-lg bg-black p-3 text-center text-lg font-bold text-white transition-all duration-200;
  }
  .product_atc-footer-line {
    @apply mt-4 flex items-center justify-center gap-4;
    .product_atc-footer-inline {
      @apply flex items-center justify-center gap-2;
      svg,
      img {
        @apply block h-[20px] w-[20px];
      }
      &:nth-child(1) {
        @apply border-r border-black pr-4;
      }
    }
  }
  .product_payment-icons {
    @apply mx-0 my-4 block;
  }
  .product_atc-icons {
    .product_atc-icon-line {
      @apply my-3 flex items-center gap-2;
      & > div:nth-child(1) {
        @apply flex w-[5%] items-center;
      }
      & > div:nth-child(2) {
        @apply w-full;
      }
      p {
        @apply m-0 text-base leading-[1.3];
      }
    }
  }
  .main_product-review {
    @apply bg-background-2nd mt-6 rounded-xl p-3;
    .main_product-review-meta {
      @apply mb-2 flex items-center gap-4;
      p {
        @apply m-0 flex items-center gap-2 text-base leading-[1.3];
        img {
          @apply max-w-[120px];
        }
      }
      span {
        @apply flex items-center;
      }
      & > div:nth-child(1) {
        @apply w-[15%];
      }
      & > div:nth-child(2) {
        @apply w-full;
      }
      .main_product-review-stars {
        @apply mt-1.5 block max-w-[100px];
      }
    }
    .main_product-review-content {
      p {
        @apply mt-0 mb-2 text-base leading-[1.3] tracking-normal;
      }
      strong {
        @apply font-semibold;
      }
    }
  }
  .product_tab-block_out {
    @apply mt-4;
    .product_tab-block {
      @apply border-border-2nd mb-4 cursor-pointer rounded-[32px] border p-4;
      .product_tab-thumb {
        @apply flex items-center justify-between gap-3;
        p {
          @apply m-0 text-base leading-[1.3];
        }
        span {
          @apply flex items-center;
        }
        img {
          @apply block h-[24px] w-[24px] transition-all duration-200;
        }
      }
      .product_tab-content {
        @apply mt-4;
        p {
          @apply mt-0 mb-3 text-base leading-[1.3] tracking-normal;
        }
      }
    }
  }
}
