@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora'), url('https://fonts.cdnfonts.com/s/13623/Lora.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora'), url('https://fonts.cdnfonts.com/s/13623/Lora-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: local('Lora'), url('https://fonts.cdnfonts.com/s/13623/Lora-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora'), url('https://fonts.cdnfonts.com/s/13623/Lora-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: local('Lora'), url('https://fonts.cdnfonts.com/s/13623/Lora-BoldItalic.woff') format('woff');
}