@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    local('Montserrat Regular'),
    url('../../public/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src:
    local('Montserrat Bold'),
    url('../../public/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-display: swap;
}
