@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-weight: 400;
  src:
    local('Trirong Regular'),
    url('../../public/fonts/Trirong/Trirong-Regular.woff2') format('woff2');
  font-display: swap;
}
