@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src:
    local('Nunito Regular'),
    url('../../public/fonts/Nunito/Nunito-Regular.woff2') format('woff2');
  font-display: swap;
}
