@layer base {
  html {
    box-sizing: border-box;
    font-size: calc(1.0 * 62.5%);
    height: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
  }

  body {
    @apply font-montserrat bg-white tracking-[0.06rem] grid grid-rows-[auto_auto_1fr_auto];
    @apply text-body-mobile sm:text-body;
    /* QUAN TRỌNG: unitless */
  }

  /* Ensure text elements inherit line-height */
  p,
  li,
  span,
  a {
    line-height: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-trirong;
    line-height: 1.3;
  }

  ul {
   @apply list-none pl-0
  }

  ul li {
   @apply relative pl-8 mb-[0.8rem] before:content-['•'] before:absolute before:left-0 before:top-[0.2em] before:text-[2rem] before:leading-none
  }

  

}