@layer base {
  html {
    box-sizing: border-box;
    font-size: calc(1 * 62.5%);
    height: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    @apply font-montserrat bg-white tracking-[0.06rem];
    line-height: calc(1 + 0.8 / 1.0);
    font-size: 1.6rem;
    /* QUAN TRỌNG: unitless */
  }

  /* Ensure text elements inherit line-height */
  p,
  li,
  span,
  a {
    line-height: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-trirong;
    line-height: 1.3;
  }

  ul {
    @apply list-none pl-0;
  }

  ul li {
    @apply relative mb-[0.8rem] pl-8 before:absolute before:top-[0.2em] before:left-0 before:text-[2rem] before:leading-none before:content-['•'];
  }
}
