/* Import fonts */
@import './_fonts.css';

/* Typography styles */
.product-section_title {
  @apply font-lora my-4 text-2xl leading-[1.3] font-normal sm:text-4xl;

  span {
    @apply text-primary;
  }
}

.product_subtitle {
  @apply text-secondary;
}

.product-text {
  p {
    @apply my-3 text-lg leading-[1.3em];
  }
}

.product-section_text {
  @apply my-4 text-center text-lg leading-[1.3];
}
