@layer base {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    @apply font-nunito m-0 leading-[1.8] tracking-[0.06rem];
  }

  ul {
    @apply my-[1em] block list-disc ps-10;
  }
  li {
    @apply list-item;
  }
}
