/* ================= TRIRONG ================= */
@font-face {
    font-family: "Trirong";
    src:
        url("../public/fonts/Trirong/woff2/Trirong-Light.woff2") format("woff2"),
        url("../public/fonts/Trirong/woff/Trirong-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Trirong";
    src:
        url("../public/fonts/Trirong/woff2/Trirong-Regular.woff2") format("woff2"),
        url("../public/fonts/Trirong/woff/Trirong-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Trirong";
    src:
        url("../public/fonts/Trirong/woff2/Trirong-Medium.woff2") format("woff2"),
        url("../public/fonts/Trirong/woff/Trirong-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Trirong";
    src:
        url("../public/fonts/Trirong/woff2/Trirong-Bold.woff2") format("woff2"),
        url("../public/fonts/Trirong/woff/Trirong-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ================= LORA ================= */
@font-face {
    font-family: "Lora";
    src:
        url("../public/fonts/Lora/woff2/Lora-Regular.woff2") format("woff2"),
        url("../public/fonts/Lora/woff/Lora-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src:
        url("../public/fonts/Lora/woff2/Lora-Medium.woff2") format("woff2"),
        url("../public/fonts/Lora/woff/Lora-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src:
        url("../public/fonts/Lora/woff2/Lora-SemiBold.woff2") format("woff2"),
        url("../public/fonts/Lora/woff/Lora-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src:
        url("../public/fonts/Lora/woff2/Lora-Bold.woff2") format("woff2"),
        url("../public/fonts/Lora/woff/Lora-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ================= NUNITO ================= */
@font-face {
    font-family: "Nunito";
    src:
        url("../public/fonts/Nunito/woff2/Nunito-Light.woff2") format("woff2"),
        url("../public/fonts/Nunito/woff/Nunito-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src:
        url("../public/fonts/Nunito/woff2/Nunito-Regular.woff2") format("woff2"),
        url("../public/fonts/Nunito/woff/Nunito-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src:
        url("../public/fonts/Nunito/woff2/Nunito-Medium.woff2") format("woff2"),
        url("../public/fonts/Nunito/woff/Nunito-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src:
        url("../public/fonts/Nunito/woff2/Nunito-SemiBold.woff2") format("woff2"),
        url("../public/fonts/Nunito/woff/Nunito-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src:
        url("../public/fonts/Nunito/woff2/Nunito-Bold.woff2") format("woff2"),
        url("../public/fonts/Nunito/woff/Nunito-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}