@import 'tailwindcss';
@import './fonts.css';
@import './variables.css';
@import './base.css';
@import './components/common.css';
@import './components/header.css';
@import './components/responsive.css';
@import './components/product-introduce.css';
@import './components/brands-list.css';
@import './components/bloating.css';
@import './components/pli-outer.css';
@import './components/outer-how-nothing.css';
@import './components/ingr-outer.css';
@import './components/benefits.css';
@layer utilities {
  .font-lora {
    font-family: var(--font-lora);
  }

  .font-nunito {
    font-family: var(--font-nunito);
  }

  .font-trirong {
    font-family: var(--font-trirong);
  }
}
