@import "./fonts.css";
@import "./variables.css";
@import "tailwindcss";

@layer base {
    @import "./fonts.css";
    @import "./base.css";
}

@layer components {
    @import "./components.css";
}

@layer utilities {
    @import "./variables.css";
}