/* Tailwind base */
@import 'tailwindcss';

/* Base styles */
@import './base/_base.css';
@import './base/_fonts.css';
@import './base/_variables.css';
@import './base/_typography.css';

/* Components */
@import './components/_common.css';
@import './components/_header.css';
@import './components/_product-lymph-info.css';
@import './components/_press-logos.css';
@import './components/_judgeme.css';

/* Pages */
@import './pages/_product.css';

/* Utilities */
@import './utilities/_utilities.css';
@import './utilities/_animations.css';

/* vendors */
@import './vendors/_accourding.css';
@import './vendors/_carousel.css';
@import './vendors/_pagination.css';

/* Main product introduction section */
.main_section {
  img {
    @apply w-full;
  }
}
.main_product-container {
  @apply sm:gap-lg gap-md flex flex-wrap md:flex-nowrap;

  & > div {
    @apply w-full;
  }
}
.main_product-outer {
  @apply py-[32px];
}

.main_product-images {
  img {
    @apply block aspect-square rounded-lg object-cover;
    vertical-align: middle;
    line-height: 0;
  }

  .main_product-image,
  .main_product-image-box {
    @apply relative flex justify-center;

    img {
      @apply aspect-square overflow-hidden rounded-[8px] object-cover;
    }

    .main_product-nutrition-info {
      @apply bg-light-muted absolute bottom-[32px] z-2 flex max-w-[290px] cursor-pointer justify-center gap-2 rounded-[24px] border border-black px-6 py-2 text-sm leading-[1.2em];

      span {
        @apply flex items-center font-semibold sm:font-normal;
      }

      img {
        @apply w-[24px];
      }
    }

    .main-product_badge,
    .main-producT_bf_badge {
      @apply absolute top-4 right-4 block w-full max-w-[80px] sm:max-w-[120px];
    }
  }

  .main_product-2nd {
    @apply my-4 grid grid-cols-2 gap-4;
  }

  .main_product-3rd {
    @apply my-4 grid grid-cols-3 gap-4;
  }

  .main_product-image-carousel {
    @apply mb-2 sm:mb-0;

    .slick-arrow {
      @apply z-50 h-[32px] w-[32px] before:hidden;

      img {
        @apply h-full w-full;
      }

      &.slick-prev {
        @apply left-[24px];
      }

      &.slick-next {
        @apply right-[24px];
      }
    }
  }

  .main_product-image-carousel_thumbs {
    .slick-slide {
      @apply !px-1;
    }
  }
}

.main_product-reviews {
  @apply mt-0 flex items-center gap-4;

  img {
    @apply block !w-[100px];
  }

  p {
    @apply font-nunito my-0 text-xs leading-snug font-normal md:text-base;
  }
}

.main_product-title {
  @apply font-lora my-4 text-2xl leading-[1.4em] md:text-3xl;
}

.main_product-features {
  .main_product-feature-line {
    @apply my-4 flex items-center gap-3;

    p {
      @apply text-base leading-snug;
    }

    & > div:nth-child(1) {
      @apply flex w-[10%] items-center;
    }

    & > div:nth-child(2) {
      @apply w-full;
    }
  }
}

.col_pp_atc_usp_line {
  @apply mt-4 flex items-center gap-2;

  p {
    @apply m-0 text-xs leading-[1.3] sm:text-base;
  }

  span.col_pp_delivery__Date {
    @apply bg-primary font-nunito rounded px-2 py-1 text-white;
  }

  & > div:nth-child(1) {
    @apply flex w-[5%] items-center;
  }

  & > div:nth-child(2) {
    @apply w-full;
  }
}

/* Review components */
.main_product-review {
  @apply bg-bg-secondary mt-6 rounded-xl p-3;

  .main_product-review-meta {
    @apply mb-2 flex items-center gap-4;

    p {
      @apply m-0 flex items-center gap-2 text-base leading-[1.3];

      img {
        @apply max-w-[120px];
      }
    }

    span {
      @apply flex items-center;
    }

    & > div:nth-child(1) {
      @apply w-[15%];
    }

    & > div:nth-child(2) {
      @apply w-full;
    }

    .main_product-review-stars {
      @apply mt-1.5 block max-w-[100px];
    }
  }

  .main_product-review-content {
    p {
      @apply mt-0 mb-2 text-base leading-[1.3] tracking-normal;
    }

    strong {
      @apply font-semibold;
    }
  }
}
