@theme {
  /* FONTS */
  --font-nunito: 'Nunito', system-ui, sans-serif;
  --font-lora: 'Lora', serif;
  --font-trirong: 'Trirong', serif;

  /* COLORS */
  --color-primary: #039869;
  --color-secondary: #6b7280;
  --color-accent: #e8bf8a;
  --color-background: #f9f9f9;
  --color-background-2nd: #f3eee0;
  --color-border: #d1d5db;
  --color-border-2nd: #d2d2d2;

  /* FONT SIZES */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  /* SPACING */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;

  --radius-sm: 4px;
}
