@theme {
  /* FONTS */
  --font-nunito: 'Nunito', system-ui, sans-serif;
  --font-lora: 'Lora', serif;
  --font-trirong: 'Trirong', serif;

  /* COLORS */
  --color-primary: #039869;
  --color-primary-2nd: #0c7c00;
  --color-secondary: #737373;
  --color-accent: #a60003;
  --color-accent-2nd: #ffe3e3;
  --color-background: #f9f9f9;
  --color-background-2nd: #f3eee0;
  --color-background-3rd: #fff7f8;
  --color-card: #f7f7f7;
  --color-border: #d1d5db;
  --color-border-2nd: #d2d2d2;
  --color-dark: #1c1b1b;

  /* FONT SIZES */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;

  /* SPACING */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;

  --radius-sm: 4px;

  --animate-logo-scroll: logo_scroll 60s linear infinite;
}

@keyframes logo_scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
